footer.footer
	.footer__center.center
		.footer__row
			.footer__col
				a.footer__logo(href="index.html")
					img.footer__pic.footer__pic_black-desktop(src="img/logo.svg" alt="")
					img.footer__pic.footer__pic_white-desktop(src="img/logo-white.svg" alt="")
					img.footer__pic.footer__pic_black-mobile(src="img/logo-mobile.svg" alt="")
					img.footer__pic.footer__pic_white-mobile(src="img/logo-mobile-white.svg" alt="")
				.footer__copyright © 2020 - All rights reserved
				.footer__social.social
					a.social__link(href="https://www.instagram.com/ui8net/" target="_blank")
						+i('instagram')
					a.social__link(href="https://twitter.com/ui8" target="_blank")
						+i('twitter')
					a.social__link(href="https://www.facebook.com/ui8.net/" target="_blank")
						+i('facebook')
				+switch('', 'js-switch-bg')
			.footer__col
				.footer__category Categories
				.footer__menu
					a.footer__link(href="category.html") On Sale
					a.footer__link(href="category.html") Featured
					a.footer__link(href="category.html") Masks
					a.footer__link(href="category.html") Eye Care
					a.footer__link(href="category.html") Moisturizers
					a.footer__link(href="category.html") Treatments
					a.footer__link(href="category.html") Night Care
					a.footer__link(href="category.html") Sun Care
			.footer__col
				.footer__category Legal
				.footer__menu
					a.footer__link(href="legal-page.html") Terms of Service
					a.footer__link(href="legal-page.html") Privacy Policy
					a.footer__link(href="legal-page.html") Returns Policy
					a.footer__link(href="legal-page.html") Shipping
					a.footer__link(href="legal-page.html") Data Protection
			.footer__col
				.footer__category Company
				.footer__menu
					a.footer__link(href="about-us.html") About
					a.footer__link(href="faq.html") Faq
					a.footer__link(href="contacts.html") Contact
					a.footer__link(href="careers-page.html") Careers
					a.footer__link(href="#") Vision
					a.footer__link(href="#") Culture
