---
title: Hygge
---
extends layouts/_layout
block content
	.breadcrumbs.breadcrumbs_mb-md
		.breadcrumbs__center.center
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="index.html") Home Page
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Search
				li.breadcrumbs__item Search Results
	.products.products_search.section
		.products__center.center
			.products__stage.stage - Search Results
			h2.products__title.title.title_mb-md Eye Care Products for <br>Tired Eyes
			.products__result <span class="products__counter">6</span> products found
			.filters.js-filters
				.filters__sorting
					.filters__open.js-filters-open Filter By
					.filters__wrap.js-filters-wrap
						.filters__drop.drop.js-drop
							.drop__head.js-drop-head Color
							.drop__body.js-drop-body
								a.drop__link.js-drop-link(href="#") Red
								a.drop__link.js-drop-link(href="#") Blue
								a.drop__link.js-drop-link(href="#") Green
								a.drop__link.js-drop-link(href="#") Black
						.filters__drop.drop.js-drop
							.drop__head.js-drop-head Category
							.drop__body.js-drop-body
								a.drop__link.js-drop-link(href="#") Treatments
								a.drop__link.js-drop-link(href="#") Moisturizers
								a.drop__link.js-drop-link(href="#") Featured
						.filters__drop.drop.js-drop
							.drop__head.js-drop-head Price Range
							.drop__body.js-drop-body
								a.drop__link.js-drop-link(href="#") $0 - $10
								a.drop__link.js-drop-link(href="#") $10 - $50
								a.drop__link.js-drop-link(href="#") $50 +
					.filters__field.field
						.field__wrap
							select.field__select
								option Sort By
								option Sort By
								option Sort By
			.products__list
				+product('img/products/product-pic-1.png', 'Sun Cream', 'yellow', 'Sun Care', true, true)
				+product('img/products/product-pic-2.png', 'Night Eye Cream', 'blue', 'EYE CARE', true, true)
				+product('img/products/product-pic-3.png', 'Acne Skin Gel', 'pink', 'Treatments')
				+product('img/products/product-pic-4.png', 'Anti Dry Skin', 'green', 'Moisturizers')
				+product('img/products/product-pic-5.png', 'Body Protection', 'yellow', 'Treatments', '', '', true)
				+product('img/products/product-pic-6.png', 'All In One Gel', 'blue', 'FEATURED')
	+newsletter


