---
title: Hygge
---
extends layouts/_layout
block content
	.center
		ul(style="padding: 50px 0;")
			li(style="margin-bottom: 15px;")
				a(href="index.html") main
			li(style="margin-bottom: 15px;")
				a(href="product.html") product
			li(style="margin-bottom: 15px;")
				a(href="category.html") category
			li(style="margin-bottom: 15px;")
				a(href="faq.html") faq
			li(style="margin-bottom: 15px;")
				a(href="contacts.html") contacts
			li(style="margin-bottom: 15px;")
				a(href="cart.html") cart
			li(style="margin-bottom: 15px;")
				a(href="checkout.html") checkout
			li(style="margin-bottom: 15px;")
				a(href="sign-up.html") sign-up
			li(style="margin-bottom: 15px;")
				a(href="login.html") login
			li(style="margin-bottom: 15px;")
				a(href="search.html") search
			li(style="margin-bottom: 15px;")
				a(href="legal-page.html") legal-page
			li(style="margin-bottom: 15px;")
				a(href="about-us.html") about-us
			li(style="margin-bottom: 15px;")
				a(href="careers-page.html") careers-page



