//- Description no longer than 155 characters
meta(name="Hygge HTML Templates" content="11 production-ready, fully responsive HTML templates for e-Commerce projects")
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Hygge HTML Templates")
meta(name="twitter:description" content="11 production-ready, fully responsive HTML templates for e-Commerce projects")
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="http://www.example.com/image.jpg")
//- Open Graph data
meta(property="og:title" content="Hygge HTML Templates")
meta(property="og:type" content="Article")
meta(property="og:url" content="https://ui8.net/ui8/products/hygge-ecommerce")
meta(property="og:image" content="http://example.com/image.jpg")
meta(property="og:description" content="Hygge HTML Templates” content=“11 production-ready, fully responsive HTML templates for e-Commerce projects")
meta(property="og:site_name" content="Hygge")
meta(property="fb:admins" content="132951670226590")